@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #2d40ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Lexend Deca';
  font-weight: bold;
  font-size: 48px;
}